<div class="magic-popup">
  <div id="popupContainer" class="home"></div>
  <div id="popupContainer" class="categories"></div>
  <div id="popupContainer" class="recommend"></div>
  <div id="popupContainer" class="taste"></div>
  <div id="popupContainer" class="favorites"></div>
  <div id="popupContainer" class="brws_cfg">
    <form class="magicph_cfg">
      <section class="select">
        Alternative player
        <select name="altplayers">
          <option value="none">Default</option>
          <option disabled="" value="plyr">Plyr</option>
        </select>
      </section>
      <section class="select">
        <label>
          <span>Player seek time</span>
          <input type="number" name="seektime" id="seektime" placeholder="Player Seek Time" />
        </label>
      </section>
      <section class="checkbox">
        <label>
          <span>Auto "Jump to"</span>
          <div class="switch">
            <input type="checkbox" name="autojump" id="autojump" />
            <label for="autojump"></label>
          </div>
        </label>
      </section>
      <section class="checkbox">
        <label>
          <span>Scroll on load</span>
          <div class="switch">
            <input type="checkbox" name="autoscroll" id="autoscroll" />
            <label for="autoscroll"></label>
          </div>
        </label>
      </section>
      <section class="checkbox">
        <label>
          <span>Blur thumbnails</span>
          <div class="switch">
            <input type="checkbox" name="blurimg" id="blurimg" />
            <label for="blurimg"></label>
          </div>
        </label>
      </section>
      <section class="checkbox">
        <label>
          <span>Comment section</span>
          <div class="switch">
            <input type="checkbox" name="comments" id="comments" />
            <label for="comments"></label>
          </div>
        </label>
      </section>
      <section class="checkbox">
        <label>
          <span>"Top" button</span>
          <div class="switch">
            <input type="checkbox" name="topbutton" id="topbutton" />
            <label for="topbutton"></label>
          </div>
        </label>
      </section>
      <section class="checkbox">
        <label>
          <span>Sidebar</span>
          <div class="switch">
            <input type="checkbox" name="sidebar" id="sidebar" />
            <label for="sidebar"></label>
          </div>
        </label>
      </section>
			<section class="select">
      <span>[WIP] "Jump to" Blacklist</span>
      <select name="blacklist">
        <option value="none">None</option>
        <option value="Footjob">Footjob</option>
      </select>
    </section>
    <section class="checkbox">
      <label>
        <span>[WIP] Console logs</span>
        <div class="switch">
          <input disabled="" type="checkbox" name="debug" id="debug" />
          <label for="debug"></label>
        </div>
      </label>
    </section>
    </form>
  </div>
  <div class="pagination3">
    <ul class="firstPage">
      <li class="page_current alpha"><span class="greyButton">1</span></li>
      <li class="page_number">
        <a class="greyButton" href="/video?page=2">2</a>
      </li>
      <li class="page_number">
        <a class="greyButton" href="/video?page=3">3</a>
      </li>
      <li class="page_number">
        <a class="greyButton" href="/video?page=4">4</a>
      </li>
      <li class="page_number">
        <a class="greyButton" href="/video?page=5">5</a>
      </li>
      <li class="page_next_set">
        <a class="greyButton" href="/video?page=10">10</a>
      </li>
      <li class="page_next omega">
        <a href="/video?page=2" class="orangeButton"
          >Next
          <img class="pagination_arrow_right" src="https://ei.phncdn.com/www-static/images/rightArrow.png" alt="Right Arrow" title=""
        /></a>
      </li>
    </ul>
    <div class="pjump">
      <input id="pageInput" type="number" name="pageJump" placeholder="Jump to page" value="">
    </div>
  </div>
</div>