// ==========================================================================
// Badges
// ==========================================================================

$plyr-badge-background: var(--plyr-badge-background, #f90) !default;
$plyr-badge-text-color: var(--plyr-badge-text-color, #fff) !default;
$plyr-badge-border-radius: var(--plyr-badge-border-radius, 2px) !default;
