
.magicFreeze {
  overflow: hidden !important;
  overscroll-behavior-y: none !important;
}

.magicBlur {
  .photoBlockBox ul.photosAlbumsListing .photoAlbumListContainer .photoAlbumListBlock,
  .photoBlockBox ul.photosAlbumsListing.albumViews .photoAlbumListBlock,
  div.nf-videos ul.photosAlbumsListing .photoAlbumListContainer .photoAlbumListBlock,
  div.nf-videos ul.photosAlbumsListing.albumViews .photoAlbumListBlock,
  .userWidgetWrapperGrid img,
  video.lazyVideo,
  .action_tag_image,
  li img,
  .userAvatar img,
  .mgp_container .mgp_videoPoster img,
  .video-box img,
  .thumb_box img.videoThumbs:not([data-flipbook_active]),
  .thumb-image-container__image,
  .thumb-widget-img,
  .xp-preload-image {
    -webkit-filter: blur(15px) !important;
    filter: blur(15px) !important;
  }
}

.magicDefault {
  overflow-y: scroll;
  overscroll-behavior-y: none;
}

.magicTop,
.magicCenter,
button.tabButton {
  @include theme;
  @include mphTheme;
}

.mph-center {
  &:not(.hidden) {
    display: flex;
    z-index: 1000;
  }
  width: 100%;
  bottom: 1em;
  position: fixed;
  align-items: center;
  justify-content: center;
}

// .magicCenter {
//   display: none;
// }

.mph-btns,
.download-trigger,
.remove-trigger {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.download-trigger,
.remove-trigger {
  font-size: medium;
  font-weight: 700;
  color: $white;
}

.blur-trigger,
.download-trigger,
.remove-trigger {
  background: $dark;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
  height: 100%;
  text-align: center;
}

.mph-btns {
  display: grid;
  grid-template-columns: minmax(auto, 1fr);
  grid-column-gap: 0.5rem;
  grid-auto-flow: column;
  button {
    svg,
    img {
      width: 14px;
      height: 14px;
    }
    svg {
      fill: currentColor;
      background: transparent;
    }
  }
}

.blur-btn {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  width: 100%;
  display: grid;
  .blur-trigger {
    width: 100%;
    color: #6a6a6a;
    font-size: 15px;
    line-height: 17px;
  }
}

.js-menu > a {
  cursor: pointer;
}

.mobile .sidenav,
.iso .sidenav {
  width: 50%;
}
.sidenav {
  transition: all 0.4s ease;
  z-index: 10000;
  height: 100%;
  width: 12%;
  position: fixed;
  top: 0;
  left: -200vw;
  background: hsla(0, 0%, 0%, 0.75);
  overflow: hidden;
  padding-top: 10px;
  display: grid;
  grid-auto-flow: row;
  place-content: stretch;
  grid-auto-rows: 5rem;
  a {
    padding-left: 8px;
    padding-top: 8px;
    text-decoration: none;
    font-size: 25px;
    color: $white;
    height: 50px;
    &:hover {
      text-decoration: none;
      background: hsla(0, 0%, 26%, 0.95);
      // border: 1px solid #252525;
      cursor: pointer;
    }
  }
}

.navbackground {
  z-index: 2;
  width: 0;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
a.customize-header,
.magiclogo > img {
  cursor: pointer !important;
  // width: auto !important;
}

.topHeader .magiclogo img {
  max-width: 8rem !important;
}
.mgp_mobile,
.mph_mobile {
  min-height: 208px;
  max-height: 508px;
}
// .mgp_desktop:not(.bigp) {
//   width: 100% !important;
//   width: -moz-available;
//   width: -webkit-fill-available;
//   height: 100% !important;
//   background: hsl(0, 0%, 0%);
//   position: relative;
//   overflow: hidden;
//   margin: auto;
//   &:not(.mgp_mobile, .mph_mobile) {
//     min-height: 80vh !important;
//   }
// }

.plyr__video-wrapper > video {
  width: max(100vw, 80vw);
  height: max(92vh, 80vh);
}
.biga {
  width: max(80vw, 50vw) !important;
  height: max(72vh, 50vh) !important;
  position: relative !important;
}
.smola {
  height: 360px !important;
  width: 640px !important;
  margin-left: 60% !important;
  position: fixed !important;
  padding: 0 !important;
  top: 0 !important;
  left: 0 !important;
  z-index: 1000 !important;
}

.video-wrapper > [id='player'],
.bigp {
  width: 100% !important;
  height: 92vh !important;
  background: #000 !important;
  position: relative !important;
  min-height: 508px !important;
  padding-bottom: 0px !important;
}
.smolp {
  height: 360px !important;
  width: 640px !important;
  margin-left: 60% !important;
  position: fixed !important;
  padding: 0 !important;
  top: 0 !important;
  left: 0 !important;
  z-index: 1000 !important;
}
.smolnav {
  z-index: -10 !important;
  width: 100% !important;
}
.sticky {
  z-index: 10 !important;
  position: fixed !important;
  top: 0;
  &.headerSearchWrapper {
    left: 0;
    width: 50% !important;
  }
}

.mph-blur {
  -webkit-filter: blur(15px) !important;
  filter: blur(15px) !important;
  &.mph-body-wrapper {
    transition: -webkit-filter 250ms ease-in-out 200ms;
    transition: filter 250ms ease-in-out 200ms;
    transition: filter 250ms ease-in-out 200ms, -webkit-filter 250ms ease-in-out 200ms;
    transition: filter 250ms ease-in-out 200ms, -webkit-filter 250ms ease-in-out 200ms;
  }
}

.favlayout,
.favlayout {
  div {
    display: inline-block;
    margin: 0 0 20px 0;
    vertical-align: top;
  }
}
.favorite {
  text-shadow: initial;
  text-transform: initial;
  word-spacing: initial;
  letter-spacing: initial;
  background: url('https://di.phncdn.com/www-static/images/video_page/favorite.svg'no-repeat);
  background-color: $dark;
  background-position-x: 2%;
  background-position-y: 50%;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-image: url('https://di.phncdn.com/www-static/images/video_page/favorite.svg');
  background-size: auto;
  background-origin: padding-box;
  background-clip: border-box;
}

body.mph .favorites {
  width: 100%;
  position: relative;
}

.magic-popup > .favorites {
  width: 88% !important;
  position: fixed !important;
  right: 0em;
}

.favorites {
  &.mph_mobile {
    flex-flow: row wrap;
    justify-content: center;
  }
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  gap: 1em;
  margin: auto;
  overflow-x: hidden;
  touch-action: auto;
  padding: 0.5em;
  .wrap {
    width: 25rem;
    min-height: 25em;
    justify-content: center;
    border: 1px solid rgba(138, 150, 163, .25);
    border-radius: 10px;
    background-color: var(--overlay-color, rgba(0,0,0,.6));
    display: flex;
    padding: 0.5em;
    gap: 0.5em;
    flex-flow: column wrap;
    margin: auto;

    a {
      order: 1;
      flex-grow: 1;
      justify-content: center;
      display: flex;
      img {
        cursor: pointer;
        max-width: 25rem;
        max-height: 25rem;
        display: block;
        margin: auto;
      }
    }

    .title>a,
    .title {
      font-size: 17px;
      font-weight: 700;
      color: var(--text-color, hsl(210, 12%, 97%));
      word-break: break-word;
      word-wrap: break-word;
      font-family: Arial, Helvetica, sans-serif;
      outline-style: none;
      text-decoration: none;
      text-align: center;

      &:hover {
        text-decoration: underline;
      }
    }
    .title {
      order: 2;
    }

    .mph-btn-container {
      order: 0;
      display: flex;
      gap: 0.5em;
      justify-content: center;
    }
  }
}

.underThumbButtons .magicph-icon {
  @media only screen and (orientation: portrait) {
    transform: translate(50%, 50%);
  }
  @media only screen and (orientation: landscape) and (min-width: 600px) {
    transform: translate(50%, 50%);
  }
}

.underThumbButtons svg.magicph-icon,
.allActionsContainer svg.magicph-icon {
  fill: #c6c6c6;
}

.feature-wrapper svg.magicph-icon {
  fill: #bbb;
}

.video_actions_container .magicph-fav.icon-wrapper {
  margin: 0px !important;
  .magicph-icon {
    padding: 15px 8px;
    font-size: 20px;
  }
}
.video_actions_container svg.magicph-icon,
.video_action_wrap svg.magicph-icon {
  fill: #fff;
}

.player-under-btns .magicph-fav.icon-wrapper {
  margin: 0px !important;
  svg.magicph-icon {
    fill: #656565;
    width: 2rem !important;
    @media only screen and (orientation: portrait) {
      transform: translate(50%, -50%);
    }
    @media only screen and (orientation: landscape) and (min-width: 600px) {
      transform: translate(50%, -50%);
    }
  }
}
.magicph-fav.icon-wrapper {
  margin: auto;
  float: left;
  cursor: pointer;
  white-space: nowrap;
  width: 1.5rem;
  height: auto;
  color: #c6c6c6;
  span {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    line-height: 18px;
    padding-left: 10px;
    padding-top: 3px;
    float: right;
  }
  img,
  em {
    display: block;
  }
}

.magic-customize {
  min-width: 991px;
  max-width: 1323px;
  width: 100%;
  background-color: #1b1b1b;
  position: fixed;
  z-index: 10;
  display: none;
  form.magicph_customize {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    justify-items: center;
    height: 100%;
    align-items: center;
    margin: auto;
    section {
      display: grid;
      width: 100%;
      height: 100%;
      select {
        font-size: 12px;
        font-weight: 700;
        text-transform: uppercase;
        option {
          font-size: 12px;
          font-weight: 700;
          text-transform: uppercase;
        }
      }
    }
  }
}

iframe.vframe {
  background-color: $dark;
  height: 100%;
  width: 100%;
  position: fixed !important;
  z-index: 99999 !important;
  left: 0px;
  top: 0px;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 0px !important;
}

.mph-header-btn.active {
  color: #ff9000 !important;
}

.menu_elem {
  width: -webkit-fit-content !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
}
