.magicFreeze,
#magicFreeze {
  overflow: hidden !important;
  overscroll-behavior-y: none !important;
}
.magicDefault {
  overflow-y: scroll;
  overscroll-behavior-y: none;
}

.magicTop {
  @include theme;
  @include prefix(transition, top 100ms ease-in-out 100ms, moz webkit);
  cursor: pointer;
  border: 3px solid $theme;
  position: fixed !important;
  z-index: 1000 !important;
  top: 100%;
  left: 90%;
  width: auto;
  height: auto;
  list-style-type: none;
  white-space: nowrap;
  font-size: 16px;
  font-family: inherit;
  outline: 0 none;
  text-align: left !important;
  @include prefix(appearance, none, moz webkit);
  vertical-align: top;
  font-weight: 700;
  @include prefix(border-radius, 5px, webkit);
  margin: 0 3px !important;
  line-height: 48px !important;
  padding: 0 25px;
  @include prefix(text-decoration-style, solid, webkit);
  @include prefix(text-decoration-color, currentcolor, webkit);
  text-decoration-thickness: auto;

  &:hover {
    background: $hover;
    @include prefix(text-decoration, 0, webkit);
  }
}

.blur-btn {
  position: absolute;
  top: 6px;
  left: 0;
  z-index: 5;

  .blur-trigger {
    background: $dark;
    border: none;
    @include prefix(border-radius, 3px, webkit);
    color: $white;
    cursor: pointer;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: medium;
    font-weight: 700;
  }
}

.sidenav {
  @include prefix(transition, width 250ms ease-in-out 200ms, moz webkit);
  z-index: 10;
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  // background-color: $dark;
  background: #1b1b1b;
  overflow: hidden;
  padding-top: 10px;
  a {
    z-index: 5;
    position: relative;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: $white;
    display: block;

    &:hover {
      // @include theme;
      text-decoration: none;
      background: #191919;
      border: 1px solid #252525;
      cursor: pointer;
    }
  }
}

.navbackground {
  z-index: 2;
  width: 0;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
.magic-popup {
  @include prefix(transition, top 200ms ease-in-out 200ms, moz webkit);
  background: transparent;
  height: auto;
  width: auto;
  position: fixed;
  z-index: 10;
  overflow-x: auto;
  top: 100vh;
  > .recommend > .recommendedContainerLoseOne.videos li.videoBox {
    margin: auto {
      bottom: 15px !important;
      right: 9px !important;
    }
    width: 23.8% !important;
  }
  > .taste > .sectionWrapper > .sectionTitle {
    padding: 0px !important;
    > .nav {
      @include remover;
    }
  }
  .home > div.sectionWrapper,
  .home > div.frontListingWrapper {
    @include taste;
  }
  .taste > {
    div.sectionWrapper {
      @include taste;
    }
    > {
      .sectionTitle {
        display: none !important;
      }
    }
  }
  .recommend > {
    ul.recommendedContainerLoseOne {
      background-color: $dark;
      height: 100%;
      position: fixed;
      z-index: 10;
      left: 19%;
      top: 0px;
      overflow-x: hidden;
      overflow-y: scroll;
      padding: 0px !important;
    }
    > li {
      width: inherit !important;
      margin: 1% !important;
    }
  }
  .categories > {
    #categoriesListSection {
      @include theme;
      height: 100%;
      position: fixed;
      z-index: 10;
      left: 20%;
      overflow-x: auto;
    }
  }
  .brws_cfg > {
    form.magicph_cfg {
      // @include theme;
      height: 100%;
      position: fixed;
      z-index: 10;
      left: 20%;
      overflow-x: auto;
    }
  }
  > .pagination3 {
    > ul {
      left: 25%;
    }
    > .pjump {
      left: 52%;
    }
  }
  &.open {
    top: 0px !important;
  }
}
a.customize-header,
.magiclogo > img {
  cursor: pointer !important;
  width: auto !important;
  height: auto !important;
}
.altframe {
  // margin-left: 15%;
  // margin-right: 15%;
  width: 100% !important;
  height: 100% !important;
  // padding: 0 !important;
  // top: 0 !important;
  // position: relative !important;
}

.plyr__video-wrapper > video{
  width: max(100vw, 80vw);
  height: max(92vh, 80vh);
}
.biga {
  width: max(80vw, 50vw) !important;
  height: max(72vh, 50vh) !important;
  position: relative !important;
}
.smola {
  height: 360px !important;
  width: 640px !important;
  margin-left: 60% !important;
  position: fixed !important;
  padding: 0 !important;
  top: 0 !important;
  left: 0 !important;
  z-index: 1000 !important;
}
.bigp {
  width: max(98vw, 80vw) !important;
  height: max(92vh, 80vh) !important;
  margin: 1% !important;
  top: 0 !important;
  position: relative !important;
  z-index: 1000 !important;
}
.smolp {
  height: 360px !important;
  width: 640px !important;
  margin-left: 60% !important;
  position: fixed !important;
  padding: 0 !important;
  top: 0 !important;
  left: 0 !important;
  z-index: 1000 !important;
}
.smolnav {
  z-index: -10 !important;
  width: 100% !important;
}
.sticky {
  z-index: 10 !important;
  position: fixed !important;
  top: 0;
  left: 0;
  width: 60% !important;
}
.top {
  top: 90% !important;
}
#blur {
  @include prefix(transition, filter 0ms ease-in-out 0ms, moz webkit);
  @include prefix(filter, blur(3px) !important, webkit);
}
.blur {
  @include prefix(filter, blur(10px) !important, webkit);
  &.wrapper {
    @include prefix(transition, filter 250ms ease-in-out 200ms, moz webkit);
  }
}

.favlayout,
.favlayout {
  div {
    display: inline-block;
    margin: 0 0 20px 0;
    vertical-align: top;
    margin: 0 0 20px 0;
    vertical-align: top;
  }
}
.favorite {
  text-shadow: initial;
  text-transform: initial;
  word-spacing: initial;
  letter-spacing: initial;
  background: url("https://di.phncdn.com/www-static/images/video_page/favorite.svg"no-repeat);
  background-color: $dark;
  background-position-x: 2%;
  background-position-y: 50%;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-image: url("https://di.phncdn.com/www-static/images/video_page/favorite.svg");
  background-size: auto;
  background-origin: padding-box;
  background-clip: border-box;
}

.favorites {
  height: 100%;
  width: 100%;
  background-color: $dark;
  align-content: center;
  grid-template-rows: auto;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 1%;
  grid-column-gap: 10px;
  .wrap {
    width: 100%;
    margin: 0;
    .phimage {
      cursor: pointer;
      width: 99.7% !important;
      height: auto;
      display: block;
    }
    .title {
      font-size: 17px;
      font-weight: 700;
      color: $white;
      word-break: break-word;
      word-wrap: break-word;
    }
  }
  &.sb {
    height: auto;
    width: 80%;
    right: 0px;
    position: fixed;
    background-color: $dark;
    align-content: center;
    grid-template-rows: auto;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 1%;
    grid-column-gap: 10px;
  }
}

body.magicph_cfg,
html.magicph_cfg {
  padding: 0;
  margin: 0;
  background-color: $dark;
  color: $white;
}

.magic-customize {
  min-width: 991px;
  max-width: 1323px;
  width: 100%;
  background-color: #1b1b1b;
  position: fixed;
  z-index: 10;
  form.magicph_customize {
    // display: grid;
    grid-template-columns: repeat(8,1fr);
    justify-items: center;
    height: 100%;
    display: none;
    align-items: center;
    margin: auto;
    section {
      display: grid;
      width: 100%;
      height: 100%;
      select {
        font-size: 12px;
        font-weight: 700;
        text-transform: uppercase;
        option {
          font-size: 12px;
          font-weight: 700;
          text-transform: uppercase;
        }
      }
    }
  }
}

.brws_cfg > form.magicph_cfg,
form.magicph_cfg {
  font-size: 1.25em;
  section {
    border: 1px solid $hover;
    background-color: $dark;
  }

  section.checkbox>label,
  section.checkboxlist>label,
  section.select {
    display: flex;
    justify-content: space-between;
    padding: .825em;
  }

  section.checkbox>label,
  section.checkboxlist>label {
    cursor: pointer;
  }

  section.checkboxlist {
    padding-left: .825em;
    padding-bottom: .5em;
  }

  section.checkboxlist>label {
    padding-top: .5em;
    padding-bottom: .5em;
  }

  section.checkboxlist p {
    margin-bottom: .5em;
  }

  .switch {
    position: relative;
    width: 38px;
    user-select: none;
    margin: 5px;
    > input {
      display: none;
    }
    > label {
      display: block;
      overflow: hidden;
      cursor: pointer;
      height: 16px;
      padding: 0;
      line-height: 16px;
      border: 1px solid $dark;
      border-radius: 20px;
      background-color: $hover;
      &:before {
        content: "";
        display: block;
        width: 20px;
        height: 20px;
        margin: -2px;
        background: #DADCE0;
        position: absolute;
        top: 0;
        right: 20px;
        border-radius: 20px;
      }
    }
    > input:checked+label {
      margin-left: 0;
      background-color: rgba(255, 153, 0, 0.568);
      &:before {
        right: 0px;
        background-color: $theme;
      }
    }
  }
}