.magicFreeze,
#magicFreeze {
  overflow: hidden !important;
  overscroll-behavior-y: none !important;
}

.magicBlur {
  video.lazyVideo,
  img.js-menuSwap,
  img[data-src],
  img[data-thumb_url] {
    -webkit-filter: blur(15px) !important;
    filter: blur(15px) !important;
  }
}

.magicDefault {
  overflow-y: scroll;
  overscroll-behavior-y: none;
}

.magicTop {
  @include theme;
  transition: top 100ms ease-in-out 100ms;
  cursor: pointer;
  border: 3px solid $theme;
  position: fixed !important;
  z-index: 1000 !important;
  top: 100%;
  left: 92%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: auto;
  list-style-type: none;
  white-space: nowrap;
  font-size: 16px;
  font-family: inherit;
  outline: 0 none;
  text-align: left !important;
  appearance: none;
  vertical-align: top;
  font-weight: 700;
  border-radius: 16px;
  margin: 0 3px;
  line-height: 25px;
  padding: 0 25px;
  text-decoration-style: solid;
  text-decoration-color: currentcolor;
  text-decoration-thickness: auto;

  &:hover {
    background: $hover;
    text-decoration: 0;
  }
};

.magicCenter {
  @include theme;
  transition: top 100ms ease-in-out 100ms;
  cursor: pointer;
  border: 3px solid $theme;
  position: fixed !important;
  z-index: 1000 !important;
  top: 100%;
  left: 90%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: auto;
  list-style-type: none;
  white-space: nowrap;
  font-size: 16px;
  font-family: inherit;
  outline: 0 none;
  text-align: left;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  vertical-align: top;
  font-weight: 700;
  border-radius: 16px;
  margin: 0 3px;
  line-height: 25px;
  padding: 0 25px;
  -webkit-text-decoration-style: solid;
          text-decoration-style: solid;
  -webkit-text-decoration-color: currentcolor;
          text-decoration-color: currentcolor;
  text-decoration-thickness: auto;

  &:hover {
    background: $hover;
    -webkit-text-decoration: 0;
            text-decoration: 0;
  }
};


.mph-btns,
.download-trigger,
.remove-trigger {
  width: fit-content;
};

.download-trigger,
.remove-trigger {
  font-size: medium;
  font-weight: 700;
  color: $white;
};

.blur-trigger,
.download-trigger,
.remove-trigger {
  background: $dark;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  height: 100%;
  text-align: center;
}

.mph-btns {
  display: grid;
  grid-template-columns: minmax(auto, 1fr);
  grid-column-gap: 0.5rem;
  grid-auto-flow: column;
}

.blur-btn {
  max-width: max-content;
  width: 100%;
  display: grid;
  .blur-trigger {
    width: 100%;
    color: #6a6a6a;
    font-size: 15px;
    line-height: 17px;
  }
}

.js-menu > a {
  cursor: pointer;
}

.mobile .sidenav,
.iso .sidenav {
  width: 50%;
}
.sidenav {
  transition: all .4s ease;
  z-index: 10000;
  height: 100%;
  width: 12%;
  position: fixed;
  top: 0;
  left: -200vw;
  background: #1b1b1b;
  overflow: hidden;
  padding-top: 10px;
  a {
    z-index: 5;
    position: relative;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: $white;
    display: block;
    &:hover {
      text-decoration: none;
      background: #191919;
      border: 1px solid #252525;
      cursor: pointer;
    }
  }
}

.navbackground {
  z-index: 2;
  width: 0;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
a.customize-header,
.magiclogo > img {
  cursor: pointer !important;
  // width: auto !important;
}

.topHeader .magiclogo img {
  max-width: 8rem !important;
};
.mgp_mobile,
.mph_mobile {
  min-height: 208px;
  max-height: 508px;
};
.mgp_desktop:not(.bigp) {
  width: 100% !important;
  height: 100% !important;
  background: #000;
  position: relative;
  overflow: hidden;
  margin: auto;
  &:not(.mgp_mobile,.mph_mobile) {
    min-height: 80vh !important;
    // min-height: 508px;
  }
}
.plyr__video-wrapper > video{
  width: max(100vw, 80vw);
  height: max(92vh, 80vh);
}
.biga {
  width: max(80vw, 50vw) !important;
  height: max(72vh, 50vh) !important;
  position: relative !important;
}
.smola {
  height: 360px !important;
  width: 640px !important;
  margin-left: 60% !important;
  position: fixed !important;
  padding: 0 !important;
  top: 0 !important;
  left: 0 !important;
  z-index: 1000 !important;
}
.video-wrapper > #player,
.bigp {
  width: 100% !important;
  height: 92vh !important;
  background: #000 !important;
  position: relative !important;
  min-height: 508px !important;
  padding-bottom: 0px !important;
}
.smolp {
  height: 360px !important;
  width: 640px !important;
  margin-left: 60% !important;
  position: fixed !important;
  padding: 0 !important;
  top: 0 !important;
  left: 0 !important;
  z-index: 1000 !important;
}
.smolnav {
  z-index: -10 !important;
  width: 100% !important;
}
.sticky {
  z-index: 10 !important;
  position: fixed !important;
  top: 0;
  left: 0;
  width: 50% !important;
};
.top {
  top: 92% !important;
}
#blur {
  transition: -webkit-filter 0ms ease-in-out 0ms;
  transition: filter 0ms ease-in-out 0ms;
  transition: filter 0ms ease-in-out 0ms, -webkit-filter 0ms ease-in-out 0ms;
  -webkit-filter: blur(3px) !important;
          filter: blur(3px) !important;
}
.blur {
  -webkit-filter: blur(15px) !important;
          filter: blur(15px) !important;
  &.wrapper {
    transition: -webkit-filter 250ms ease-in-out 200ms;
    transition: filter 250ms ease-in-out 200ms;
    transition: filter 250ms ease-in-out 200ms, -webkit-filter 250ms ease-in-out 200ms;
  }
}

.favlayout,
.favlayout {
  div {
    display: inline-block;
    margin: 0 0 20px 0;
    vertical-align: top;
    margin: 0 0 20px 0;
    vertical-align: top;
  }
}
.favorite {
  text-shadow: initial;
  text-transform: initial;
  word-spacing: initial;
  letter-spacing: initial;
  background: url("https://di.phncdn.com/www-static/images/video_page/favorite.svg"no-repeat);
  background-color: $dark;
  background-position-x: 2%;
  background-position-y: 50%;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-image: url("https://di.phncdn.com/www-static/images/video_page/favorite.svg");
  background-size: auto;
  background-origin: padding-box;
  background-clip: border-box;
}

body.mph .favorites {
  width: 100%;
  position: relative;
};

.magic-popup > .favorites {
  width: 88% !important;
  position: fixed !important;
};

body.mph .favorites:not(#mobileContainer),
.magic-popup > .favorites {
  @include favorites;
}

body.mph .favorites#mobileContainer {
  height: fit-content;
  min-height: 100px;
  max-height: 95%;
  right: 0px;
  background-color: $dark;
  display: grid;
  grid-column-gap: 1rem;
  .wrap {
    img {
      cursor: pointer;
      width: 25rem;
      height: 15rem;
      display: block;
    }
    .title > a,
    .title {
      font-size: 17px;
      font-weight: 700;
      color: $white;
      word-break: break-word;
      word-wrap: break-word;
    }
  }
}

.underThumbButtons .magicph-icon {
  @media only screen and (orientation: portrait) {
    transform: translate(50%, 50%);
  }
  @media only screen and (orientation: landscape) and (min-width: 600px)  {
    transform: translate(50%, 50%);
  }
}

.underThumbButtons .magicph-icon,
.allActionsContainer .magicph-icon {
  fill: #c6c6c6;
}

.feature-wrapper .magicph-icon {
  fill: #bbb;
}

.video_actions_container .magicph-fav.icon-wrapper {
  margin: 0px !important;
  .magicph-icon {
    padding: 15px 8px;
    font-size: 20px;
  }
}
.video_actions_container .magicph-icon,
.video_action_wrap .magicph-icon {
  fill: #fff;
}

.player-under-btns .magicph-fav.icon-wrapper {
  margin: 0px !important;
  .magicph-icon {
    fill: #656565;
    width: 2rem !important;
    @media only screen and (orientation: portrait) {
      transform: translate(50%, -50%);
    }
    @media only screen and (orientation: landscape) and (min-width: 600px)  {
      transform: translate(50%, -50%);
    }
  }
}
.magicph-fav.icon-wrapper {
  margin: auto;
  float: left;
  cursor: pointer;
  white-space: nowrap;
  width: 1.5rem;
  height: auto;
  color: #c6c6c6;
  span {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    line-height: 18px;
    padding-left: 10px;
    padding-top: 3px;
    float: right;
  }
  .magicph-icon {
    display: block;
  }
}

.magic-customize {
  min-width: 991px;
  max-width: 1323px;
  width: 100%;
  background-color: #1b1b1b;
  position: fixed;
  z-index: 10;
  display: none;
  form.magicph_customize {
    display: grid;
    grid-template-columns: repeat(9,1fr);
    justify-items: center;
    height: 100%;
    align-items: center;
    margin: auto;
    section {
      display: grid;
      width: 100%;
      height: 100%;
      select {
        font-size: 12px;
        font-weight: 700;
        text-transform: uppercase;
        option {
          font-size: 12px;
          font-weight: 700;
          text-transform: uppercase;
        }
      }
    }
  }
}

iframe.vframe {
  background-color: $dark;
  height: 100%;
  width: 100%;
  position: fixed !important;
  z-index: 99999 !important;
  left: 0px;
  top: 0px;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 0px !important;
}

.mph-header-btn.active {
  color: #ff9000 !important;
}

.menu_elem {
  width: fit-content !important;
}

.mph_progressContainer {
  @include theme;
  width: fit-content;
  height: auto;
  border-radius: 16px;
  margin: 0 3px;
  padding: 1px 5px 1px 5px;
  position: fixed;
  display: none;
  top: 25%;
  left: 0%;
  z-index: 50000;
  h1 {
    line-height: 25px;
    font-size: 16px;
    font-family: inherit;
    font-weight: 700;
    margin: 0 3px;
    color: $theme !important;
  };
}