.magicFreeze,
#magicFreeze {
  overflow: hidden !important;
  overscroll-behavior-y: none !important;
}
.magicDefault {
  overflow-y: scroll;
  overscroll-behavior-y: none;
}

.magicTop {
  @include theme;
  transition: top 100ms ease-in-out 100ms;
  cursor: pointer;
  border: 3px solid $theme;
  position: fixed !important;
  z-index: 1000 !important;
  top: 100%;
  left: 92%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: auto;
  list-style-type: none;
  white-space: nowrap;
  font-size: 16px;
  font-family: inherit;
  outline: 0 none;
  text-align: left !important;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  vertical-align: top;
  font-weight: 700;
  border-radius: 16px;
  margin: 0 3px;
  line-height: 25px;
  padding: 0 25px;
  -webkit-text-decoration-style: solid;
          text-decoration-style: solid;
  -webkit-text-decoration-color: currentcolor;
          text-decoration-color: currentcolor;
  text-decoration-thickness: auto;

  &:hover {
    background: $hover;
    -webkit-text-decoration: 0;
            text-decoration: 0;
  }
};

.magicCenter {
  @include theme;
  transition: top 100ms ease-in-out 100ms;
  cursor: pointer;
  border: 3px solid $theme;
  position: fixed !important;
  z-index: 1000 !important;
  top: 100%;
  left: 90%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: auto;
  list-style-type: none;
  white-space: nowrap;
  font-size: 16px;
  font-family: inherit;
  outline: 0 none;
  text-align: left;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  vertical-align: top;
  font-weight: 700;
  border-radius: 16px;
  margin: 0 3px;
  line-height: 25px;
  padding: 0 25px;
  -webkit-text-decoration-style: solid;
          text-decoration-style: solid;
  -webkit-text-decoration-color: currentcolor;
          text-decoration-color: currentcolor;
  text-decoration-thickness: auto;

  &:hover {
    background: $hover;
    -webkit-text-decoration: 0;
            text-decoration: 0;
  }
};


.mph-btns,
.download-trigger,
.remove-trigger {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
};

.download-trigger,
.remove-trigger {
  font-size: medium;
  font-weight: 700;
  color: $white;
};

.blur-trigger,
.download-trigger,
.remove-trigger {
  background: $dark;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  height: 100%;
  text-align: center;
}

.mph-btns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10px;
}

.blur-btn {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  width: 100%;
  display: grid;
  .blur-trigger {
    width: 100%;
    color: #6a6a6a;
    font-size: 15px;
    line-height: 17px;
  }
}

.js-menu > a {
  cursor: pointer;
}

.download-btn,
.remove-btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
};

.mph > .wrapper > .favorites {
  .download-btn,
  .remove-btn {
    z-index: initial !important;
  }
}


.sidenav {
  transition: width 250ms ease-in-out 200ms;
  z-index: 10;
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  // background-color: $dark;
  background: #1b1b1b;
  overflow: hidden;
  padding-top: 10px;
  a {
    z-index: 5;
    position: relative;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: $white;
    display: block;

    &:hover {
      // @include theme;
      text-decoration: none;
      background: #191919;
      border: 1px solid #252525;
      cursor: pointer;
    }
  }
}

.navbackground {
  z-index: 2;
  width: 0;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
a.customize-header,
.magiclogo > img {
  cursor: pointer !important;
  width: auto !important;
  height: auto !important;
}
.altframe {
  // margin-left: 15%;
  // margin-right: 15%;
  width: 100% !important;
  height: 100% !important;
  // padding: 0 !important;
  // top: 0 !important;
  // position: relative !important;
}

.plyr__video-wrapper > video{
  width: max(100vw, 80vw);
  height: max(92vh, 80vh);
}
.biga {
  width: max(80vw, 50vw) !important;
  height: max(72vh, 50vh) !important;
  position: relative !important;
}
.smola {
  height: 360px !important;
  width: 640px !important;
  margin-left: 60% !important;
  position: fixed !important;
  padding: 0 !important;
  top: 0 !important;
  left: 0 !important;
  z-index: 1000 !important;
}
.bigp {
  width: max(98vw, 80vw) !important;
  height: max(92vh, 80vh) !important;
  margin: 1% !important;
  top: 0 !important;
  position: relative !important;
  z-index: 1000 !important;
}
.smolp {
  height: 360px !important;
  width: 640px !important;
  margin-left: 60% !important;
  position: fixed !important;
  padding: 0 !important;
  top: 0 !important;
  left: 0 !important;
  z-index: 1000 !important;
}
.smolnav {
  z-index: -10 !important;
  width: 100% !important;
}
.sticky {
  z-index: 10 !important;
  position: fixed !important;
  top: 0;
  left: 0;
  width: 50% !important;
};
.top {
  top: 92% !important;
}
#blur {
  transition: -webkit-filter 0ms ease-in-out 0ms;
  transition: filter 0ms ease-in-out 0ms;
  transition: filter 0ms ease-in-out 0ms, -webkit-filter 0ms ease-in-out 0ms;
  -webkit-filter: blur(3px) !important;
          filter: blur(3px) !important;
}
.blur {
  -webkit-filter: blur(15px) !important;
          filter: blur(15px) !important;
  &.wrapper {
    transition: -webkit-filter 250ms ease-in-out 200ms;
    transition: filter 250ms ease-in-out 200ms;
    transition: filter 250ms ease-in-out 200ms, -webkit-filter 250ms ease-in-out 200ms;
  }
}

.favlayout,
.favlayout {
  div {
    display: inline-block;
    margin: 0 0 20px 0;
    vertical-align: top;
    margin: 0 0 20px 0;
    vertical-align: top;
  }
}
.favorite {
  text-shadow: initial;
  text-transform: initial;
  word-spacing: initial;
  letter-spacing: initial;
  background: url("https://di.phncdn.com/www-static/images/video_page/favorite.svg"no-repeat);
  background-color: $dark;
  background-position-x: 2%;
  background-position-y: 50%;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-image: url("https://di.phncdn.com/www-static/images/video_page/favorite.svg");
  background-size: auto;
  background-origin: padding-box;
  background-clip: border-box;
}

.mph > .wrapper > .favorites {
  width: 100%;
  position: relative;
};

.magic-popup > .favorites {
  width: 80%;
  position: fixed;
};

.mph > .wrapper > .favorites,
.magic-popup > .favorites {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 100px;
  max-height: 95%;
  right: 0px;
  background-color: $dark;
  display: grid;
  grid-template-columns: auto repeat(4, 1fr) auto;
  grid-column-gap: 1rem;
  .wrap {
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    margin: 2%;
    img {
      cursor: pointer;
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
      height: auto;
      display: block;
    }
    .title > a,
    .title {
      font-size: 17px;
      font-weight: 700;
      color: $white;
      word-break: break-word;
      word-wrap: break-word;
    }
  }
  // &.sb {
  //   height: auto;
  //   width: 80%;
  //   right: 0px;
  //   position: fixed;
  //   background-color: $dark;
  //   align-content: center;
  //   grid-template-rows: auto;
  //   grid-template-columns: repeat(4, 1fr);
  //   grid-row-gap: 1%;
  //   grid-column-gap: 10px;
  // }
}

.magicph-fav.icon-wrapper {
  margin: 0;
  float: left;
  cursor: pointer;
  white-space: nowrap;
  > i {
    font-size: 17px;
    vertical-align: top;
    padding: 0;
    margin-top: 0;
    width: auto;
    height: auto;
    color: gray;
    > span {
      font-family: Arial,Helvetica,sans-serif;
      font-size: 11px;
      line-height: 18px;
      color: #c6c6c6;
      padding-left: 10px;
      padding-top: 3px;
      float: right;
    }
  }
}

.magic-customize {
  min-width: 991px;
  max-width: 1323px;
  width: 100%;
  background-color: #1b1b1b;
  position: fixed;
  z-index: 10;
  display: none;
  form.magicph_customize {
    display: grid;
    grid-template-columns: repeat(9,1fr);
    justify-items: center;
    height: 100%;
    // display: none;
    align-items: center;
    margin: auto;
    section {
      display: grid;
      width: 100%;
      height: 100%;
      select {
        font-size: 12px;
        font-weight: 700;
        text-transform: uppercase;
        option {
          font-size: 12px;
          font-weight: 700;
          text-transform: uppercase;
        }
      }
    }
  }
}

iframe.vframe {
  background-color: $dark;
  height: 100%;
  width: 100%;
  position: fixed !important;
  z-index: 99999 !important;
  left: 0px;
  top: 0px;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 0px !important;
}

// .mph_progress {
//   @include theme;
//   width: auto;
//   height: auto;
//   font-size: 16px;
//   font-family: inherit;
//   font-weight: 700;
//   border-radius: 16px;
//   margin: 0 3px;
//   line-height: 25px;
//   padding: 0 25px;
//   position: absolute;
//   top: 12%;
//   left: 0%;
//   z-index: 1000;
// }

// .mgp_downloadInfo {
//   background: rgba(0,0,0,.75);
//   position: absolute;
//   top: 46%;
//   left: 50%;
//   transition: opacity .2s linear;
//   width: 50%;
//   max-width: -webkit-fit-content;
//   max-width: -moz-fit-content;
//   max-width: fit-content;
//   transform: translate(-50%, -50%);
//   z-index: 6;
//   opacity: 0;
//   visibility: hidden;
//   > .mgp_copyCloseDiv {
//     border-bottom: 1px solid rgba(255,255,255,.2);
//     overflow: hidden;
//     padding: 2px 4px;
//     > .mgp_title {
//       font-size: 16px;
//       line-height: 30px;
//       padding: 0 0 0 5px;
//       float: left;
//     }
//     > .mgp_hideMenu {
//       font-size: 25px;
//       float: right;
//       cursor: pointer;
//       pointer-events: auto;
//       padding: 5px;
//     }
//   }
//   ul {
//     padding: 2px 4px;
//   }
//   li {
//     display: grid;
//     grid-template-columns: 50px 2fr 25px 25px;
//     span {
//       padding-right: 10%;
//       width: 1%;
//       display: inline-block;
//       margin-left: 1%;
//     }
//     input {
//       color: #ccc;
//       margin: 1% 0px 1%;
//       text-align: center;
//       outline: 0 none;
//       background: transparent;
//       border: none;
//     }
//     input[value="[Error] Not Found"] {
//       visibility: hidden;
//     }
//     a.suggestToggleAlt {
//       margin: 1% 1% 1% 0px;
//       float: inline-end;
//       cursor: pointer;
//       color: #ccc;
//       &:hover {
//         color: #f90;
//         -webkit-text-decoration: 0;
//                 text-decoration: 0;
//       }
//       .magicph-icon {
//         pointer-events: auto;
//         width: 1.25em;
//         -webkit-user-select: none;
//            -moz-user-select: none;
//             -ms-user-select: none;
//                 user-select: none;
//         position: relative;
//         max-width: 100%;
//         height: 1.25em;
//         fill: currentcolor;
//         line-height: 20px;
//         overflow-wrap: break-word;
//         white-space: nowrap;
//         g {
//           display: unset;
//         };
//       }
//     }
//   }
//   &.mgp_active {
//     opacity: 1;
//     width: -webkit-fit-content;
//     width: -moz-fit-content;
//     width: fit-content;
//     visibility: visible;
//   }
// };