$theme: #f90;
$dark: #000;
$white: #fff;
$hover: #464646;

.mgp_download {
  border-bottom: 1px solid rgba(255,255,255,.2) !important;
}

.mgp_downloadInfo {
  background: rgba(0,0,0,.75);
  position: absolute;
  top: 46%;
  left: 50%;
  transition: opacity .2s linear;
  width: 50%;
  max-width: 550px;
  transform: translate(-50%, -50%);
  z-index: 6;
  opacity: 0;
  visibility: hidden;
  > .mgp_copyCloseDiv {
    border-bottom: 1px solid rgba(255,255,255,.2);
    overflow: hidden;
    padding: 2px 4px;
    > .mgp_title {
      font-size: 16px;
      line-height: 30px;
      padding: 0 0 0 5px;
      float: left;
    }
    > .mgp_hideMenu {
      font-size: 25px;
      float: right;
      cursor: pointer;
      pointer-events: auto;
      padding: 5px;
    }
  }
  ul {
    padding: 2px 4px;
  }
  li {
    span {
      padding-right: 10%;
      width: 1%;
      display: inline-block;
      margin-left: 1%;
    }
    input {
      margin: 1% 0px 1%;
      text-align: center;
      outline: 0 none;
      background: transparent;
      border: none;
    }
    input[value="[Error] Not Found"] {
      visibility: hidden;
    }
    a.suggestToggleAlt {
      margin: 1% 1% 1% 0px;
      float: inline-end;
      cursor: pointer;
      color: #ccc;
      &:hover {
        color: #f90;
        @include prefix(text-decoration, 0, webkit);
      }
    }
  }
  &.mgp_active {
    opacity: 1;
    visibility: visible;
  }
}
