body.magicph_cfg,
html.magicph_cfg {
  padding: 0;
  margin: 0;
  background-color: $dark;
  color: $white;
}

form.magicph_cfg {
  font-size: 1.25em;
  section {
    border: 1px solid $hover;
  }

  section.checkbox>label,
  section.checkboxlist>label,
  section.select {
    display: flex;
    justify-content: space-between;
    padding: .825em;
  }

  section.checkbox>label,
  section.checkboxlist>label {
    cursor: pointer;
  }

  section.checkboxlist {
    padding-left: .825em;
    padding-bottom: .5em;
  }

  section.checkboxlist>label {
    padding-top: .5em;
    padding-bottom: .5em;
  }

  section.checkboxlist p {
    margin-bottom: .5em;
  }

  .switch {
    position: relative;
    width: 38px;
    user-select: none;
    margin: 5px;
    > input {
      display: none;
    }
    > label {
      display: block;
      overflow: hidden;
      cursor: pointer;
      height: 16px;
      padding: 0;
      line-height: 16px;
      border: 1px solid $dark;
      border-radius: 20px;
      background-color: $hover;
      &:before {
        content: "";
        display: block;
        width: 20px;
        height: 20px;
        margin: -2px;
        background: #DADCE0;
        position: absolute;
        top: 0;
        right: 20px;
        border-radius: 20px;
      }
    }
    > input:checked+label {
      margin-left: 0;
      background-color: rgba(255, 153, 0, 0.568);
      &:before {
        right: 0px;
        background-color: $theme;
      }
    }
  }
}
