html {
  scroll-behavior: smooth
}

*:not(select) {
  // scrollbar-color: $theme-alt $dark !important;
  scrollbar-width: thin !important;
}
/* Chrome and derivatives*/
::-webkit-scrollbar {
  max-width: 4px !important;
  max-height: 4px !important;
  background: $dark !important;
}
::-webkit-scrollbar-corner,
::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece {
  background: $dark !important;

  &:hover {
    background: $dark !important;
  }
}
::-webkit-scrollbar-thumb {
  background:  !important;
  border: 0 !important;

  &:hover {
    background: $theme-alt !important;
  }
}

body > .frontListingWrapper {
  @include container;
};

body.logged-out {
  .votes-fav-wrap,
  .userActions,
  .userWidgetbuttons,
  #communityMenuWrap {
    @include remover();
  }
}

.wrapper > .container {
  width: 96vw !important;
  min-width: 96vw !important;
  max-width: 96vw !important;
  margin: auto !important;
  padding: 0 !important;
}
// #main-container,
.gridWrapper,
.section_wrapper,
#gifWebmPlayer {
  @include container;
}

.rm,
#welcome,
.mgp_embedded > .mgp_gridMenu,
li[class*="sex"],
li[class*="cam"],
li[class*="premium"],
li[class*="upsell"],
[data-entrycode="DiscoverPremium"],
[data-mxptext="Live Cams"],
[class*="upgrade"],
[class*="footer"],
[class*="promo"],
// [class*="trafficjunky"],
[id*="_ads"],
[src*="data:"]:not(.lazy),
.video-wrapper > #player + [class],
.video-wrapper > #player ~ .hd.clear,
.wrapper + [class],
footer,
search-list[label*="Trending"],
.headerBtnsWrapper,
#paidItems,
.abovePlayer,
.ad-link,
.sniperModeEngaged,
#primaryHeaderNav li:not(.menu_elem),
.leftPanel > p,
.leftPanel > .popularSearches,
.popularFilterPhotos,
.popularFiltersWrapper,
.innerHeaderSubMenu.trendingWrapper,
.headerSubMenu > .innerHeaderFilters,
#recommendations > .recommendedPornstarsWrapper,
#recommendations > .recommendedCategoriesWrapper,
#under-player-playlists,
.pornportal-wrapper,
#popsByTrafficJunky,
.ypLogo,
.logoWrapper,
#topMenuSection a.phLogoWrap,
li#profileHome,
div.bottomNav a.noImage:not(.recommended,.fav),
#welcomeVideoMsg,
body.logged-out .fanClubButtons,
body.logged-out .underThumbButtons #playlistModal,
#paidSites li:not([class*="menu_elem"]),
#video_right_col,
.topAdContainter,
#pb_template,
.tasteLogin,
.pageCta,
.subscriptionInfoWithButton,
.add-to-collection,
#profileMenuDropdown > .alpha,
#main-container > .abovePlayer,
.mgp_cinema,
#loadMoreRelatedVideosCenter,
#hd-rightColVideoPage,
#customSkin,
#customSkinCTA {
  @include remover();
};


#headerMainMenu {
  display: grid;
  place-content: center;
  grid-gap: 1rem !important;
  grid-auto-flow: column;
  margin: auto;
  li {
    width: 100% !important;
  }
}

.pagination3 {
  .pjump,
  ul {
    transition: top 100ms ease-in-out 100ms;
    z-index: 10 !important;
    position: fixed !important;
    display: block !important;
    top: 100%;
    margin: auto;
    overflow: hidden;
    width: auto;
  }
  .pjump {
    left: 5%;
    > input {
    display: inline-block;
    font-size: 20px;
    line-height: 48px;
    margin-right: 0;
    padding: 0 25px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    white-space: nowrap;
    border: none;
    border-radius: 99px;
    color: #cacaca;
    background-color: #363636;
    outline: 0;
    vertical-align: top;
  }
}
}

#vpContentContainer:not(.premiumLocked) {
  grid-template-columns: auto !important;
}

#hd-leftColVideoPage,
.video-wrapper {
  width: 100% !important;
}

.video-wrapper {
  margin: auto !important;
}

#relatedVideosCenter {
  display: grid;
}
.title-container,
.video-actions-menu,
.video-actions-container,
.relatedVideos {
  margin: 0 !important;
  padding: 5px 0 5px !important;
  width: 98vw;
}
.mgp_videoPoster {
  height: 100% !important;
  width: 100% !important;
}
.gifWebMWrapper {
  margin-bottom: 0 !important;
}
.video-wrapper,
#player,
.player {
  transition: all 0s !important;
}
.leftPanel ul.discover:after {
  background: none !important;
}

.pcVideoListItem {
  display: flex;
}

.show-more-btn {
  left: 60% !important;
}

ul.videos.user-playlist {
  display: grid !important;
  justify-content: center;
  align-content: center;
  grid-template-rows: auto;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 15px;
  grid-column-gap: 10px;
  padding: 20px 10px;
}

.video-detailed-info {
  float: none !important;
}

.mgp_autoplay {
  display: block !important;
}
.mph1,
.mph2,
.mph3,
#vb,
#vr,
#under-player-comments {
  display: none;
  color: #4080fb;
}
#profileContent,
#recommendations ul.recommendedContainerLoseOne {
  margin-left: 1% !important;
  width: 96vw !important;
}

li > {
  .wrap > {
    .phimage {
      max-width: -webkit-max-content !important;
      max-width: -moz-max-content !important;
      max-width: max-content !important;
      width: 100% !important;
    }
  }
}

/* Recommended tastes --------------------------------------------------------------- */
.displayFlex {
  display: flex;
}
.flexWrap {
  flex-wrap: wrap;
}
.button {
  display: inline-block;
  text-decoration: none;
  border: none;
  cursor: pointer;
  vertical-align: top;
  text-align: center;
}
.orangeButton {
  border-radius: 5px;
  border: 0;
  background: $theme;
  color: $dark;
}
.noLinkBtn {
  cursor: default !important;
}
.GreyBottomContainer {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0,
    rgba(3, 3, 3, 0) 10%,
    rgba(13, 13, 13, 0.93) 42%,
    rgba(30, 30, 30, 0.93) 100%
  );
}
.ProfileMainMenu {
  background: #282828;
  background: linear-gradient(to bottom, #323232 0, #1c1c1c 100%);
}
.arrow {
  content: "";
  width: 0;
  height: 0;
  font-size: 0;
}
.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.wrapLongTitle {
  word-break: break-word;
  word-wrap: break-word;
}
.sectionWrapper {
  .sectionTitle {
    padding: 12px 11px 0;
  }
  > {
    a {
      float: right;
      text-transform: capitalize;
      font-weight: 700;
      padding: 0 10px;
      text-decoration: none;
    }
  }
}
.nav {
  float: left;
}
.nav {
  a {
    color: $white;
    display: inline-block;
    margin-right: 30px;
    padding: 0 10px 10px;
    text-transform: capitalize;
    .active {
      border-bottom: 1px solid $theme;
    }
    &:hover {
      text-decoration: none;
    }
  }
}
.tasteLogin {
  background-color: #2f2f2f;
  padding: 1rem;
  text-align: center;
  .tasteLoginLinks {
    font-weight: 700;
  }
  .tasteLoginMessage {
    display: inline-block;
    font-size: 1rem;
    margin: 0;
    &:before {
      content: "";
      display: inline-block;
      width: 24px;
      height: 22px;
      vertical-align: middle;
    }
  }
  .tasteLoginText {
    color: #bbb;
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    width: 96.999%;
  }
}
.taste-instruction {
  padding: 20px;
  margin: 0;
  color: $white;
}
table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  margin: 0 0 40px 0;
  border-top: 1px #2d2d2d solid;
  td,
  th {
    width: 16%;
    text-align: center;

    &:first-child {
      padding: 10px 0 10px 20px;
      width: 25%;
      text-align: left;
    }

    &:last-child {
      width: 27%;
      color: #ababab;
    }
  }
  thead {
    background: #1d1d1d;
    border-bottom: 1px solid $dark;
    font-size: 1.5em;
  }
  thead th {
    font-weight: 400;
  }
  tr:nth-child(even) {
    background: #1d1d1d;
    border-bottom: 1px solid $dark;
  }
  tbody {
    font-size: 1.4em;
  }
  input[type="radio"] {
    display: none;
  }
  input[type="radio"] + label {
    display: inline-block;
    padding: 0;
    width: 25px;
    height: 25px;
    background: 0 0;
    border-radius: 50%;
    border: 2px solid #b4b4b4;
  }
  input[type="radio"]:checked + label {
    background: $theme;
    width: 27px;
    height: 27px;
    border: none;
  }
}
#searchBarContainer {
  border-radius: 25px !important;
  label > input {
    border-radius: 25px !important;
  };
};

.headerSearchWrapper.sticky > form > fieldset > #searchBarContainer {
  #searchSuggestions {
    margin-top: 0px !important;
  };
  #searchesWrapper {
    display: none !important;
    margin-top: 25px !important;
  };
  width: 25% !important;
  &.active {
    width: 100% !important;
    #searchesWrapper {
      display: block !important;
    }
  }
}

#video_left_col {
  width: 100% !important;
  .video_left_section {
    width: auto !important;
  }
}
#primaryHeaderNav,
#paidSites {
  display: grid !important;
  grid-auto-flow: column !important;
  margin: auto !important;
  width: 100% !important;
}

#paidSites li.menu_elem,
#primaryHeaderNav .mph-header-btn {
  margin: auto !important;
}