.mgp_videoStarted.mgp_hideControls .mgp_download {
  display: none;
}

.mph_progressContainer {
  background: #f90;
  background-color: #000;
  border: 2px solid #f90;
  color: #f90;
  width: fit-content;
  height: auto;
  border-radius: 16px;
  margin: 0 3px;
  padding: 1px 5px 1px 5px;
  position: fixed;
  display: none;
  top: 25%;
  left: 0%;
  z-index: 50000;
  h1 {
    line-height: 25px;
    font-size: 16px;
    font-family: inherit;
    font-weight: 700;
    margin: 0 3px;
    color: $theme !important;
  };
}

.mgp_contextMenu > .mgp_content > .mgp_download {
  border-bottom: 1px solid rgba(255,255,255,.2) !important;
};

.mgp_controls > .mgp_download {
  position: absolute;
  top: 50%;
  bottom: 0;
  left: 80%;
  right: 0;
  color: #ccc;
  cursor: pointer;
  width: fit-content;
  height: min-content;
  z-index: 150;
  border-radius: 5px;
  background-color: rgba(0,0,0,.7);
  padding: 8px 10px;
}

div.mgp_downloadInfo {
  display: grid;
  grid-auto-flow: row;
}

.mgp_downloadInfo {
  ul {
    padding: 2px 4px !important;
  }
  li {
    display: grid;
    grid-auto-flow: column;
    margin: auto;
    width: 100%;
  }
  &.mgp_active {
    opacity: 1 !important;
    visibility: visible !important;
  }
  input {
    color: #ccc;
    text-align: center;
    outline: 0 none;
    background: transparent;
    border: none;
    margin: auto;
  }
  span {
    width: 45px;
    margin: auto;
  }
  a.suggestToggleAlt {
    cursor: pointer;
    margin: auto;
    &:hover {
      color: $theme;
      text-decoration: 0;
    }
    .magicph-icon {
      position: relative;
      height: 1.25em;
      fill: currentcolor;
    }
  }
  &.mgp_active {
    opacity: 1 !important;
    visibility: visible !important;
  }
};

body > .mgp_downloadInfo {
  font-size: 16px;
  font-family: inherit;
  font-weight: 700;
  line-height: 25px;
  top: 25%;
  li {
    @media only screen
    and (min-device-width: 375px)
    and (max-device-width: 812px)
    and (-webkit-min-device-pixel-ratio: 3)
    and (orientation: landscape) {
      grid-template-columns: 50px 2fr 25px 25px;
    }
  }

}
div.mgp_container > .mgp_downloadInfo {
  top: 46%;
}
body > .mgp_downloadInfo,
div.mgp_container > .mgp_downloadInfo {
  z-index: 2000;
  background: rgba(0,0,0,.75);
  position: absolute;
  left: 50%;
  transition: opacity .2s linear;
  transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
  color: #ccc;
  > .mgp_copyCloseDiv {
    border-bottom: 1px solid rgba(255,255,255,.2);
    overflow: hidden;
    padding: 2px 4px;
    > .mgp_title {
      font-size: 16px;
      line-height: 30px;
      padding: 0 0 0 5px;
      float: left;
    }
    > .mgp_hideMenu {
      font-size: 25px;
      float: right;
      cursor: pointer;
      padding: 5px;
    }
  }
}
input[value^="[Error] Not Found"] {
  visibility: hidden !important;
}
ul.mgp_switches > .mgp_download {
  display: grid !important;
  .magicph-icon {
    display: block;
    font-size: 25px;
    min-height: 36px;
    left: 50%;
    padding-bottom: 5px;
    position: relative;
    top: 0px;
    transform: translate(-50%, 0%);
  }
}

.mgp_download .magicph-icon {
  height: 1.25em;
}

.mph_ofsContainer {
  display: grid;
  grid-auto-flow: column;
  margin: auto;
  width: 12%;
  position: fixed;
  background-color: inherit;
  color: inherit;
  bottom: 2%;
  cursor: pointer;
  padding: 2px 4px;
  z-index: 50000;
}