# Dependency directories
yarn.lock
node_modules/
jspm_packages/

# dotenv environment variables file
.env

.vscode
.vs/

*.bak
*.code-workspace
*.web-extension-id
web-ext-artifacts
web-ext
build
/build/
Notes
/Notes/
chrome
/chrome/