# Dependency directories
yarn.lock
node_modules/
jspm_packages/
.vscode/.history/
web-ext-artifacts
web-ext
build
/build/
Notes
/Notes/
chrlauncher
/chrlauncher/

# dotenv environment variable file
.env
*.bak
*.web-extension-id