$theme: rgb(255, 153, 0);
$theme-alt: rgba(255, 153, 0, 0.842);
$dark: rgb(0, 0, 0);
$white: rgb(255, 255, 255);
$hover: rgb(70, 70, 70);

@mixin prefix($property, $value, $prefixes) {
  @each $prefix in $prefixes {
    -#{$prefix}-#{$property}: $value;
  }
  #{$property}: $value;
}

@mixin theme {
  background: $theme;
  background-color: $dark;
  border: 2px solid $theme;
  color: $theme;
}

@mixin mphTheme {
  cursor: pointer;
  border: 3px solid $theme;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  list-style-type: none;
  white-space: nowrap;
  font-size: 16px;
  font-family: inherit;
  outline: 0 none;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-weight: 700;
  border-radius: 16px;
  margin: auto;
  line-height: 25px;
  padding: 0 25px;
  -webkit-text-decoration-style: solid;
  text-decoration-style: solid;
  -webkit-text-decoration-color: currentcolor;
  text-decoration-color: currentcolor;
  text-decoration-thickness: auto;
  &:hover {
    background: $hover;
    -webkit-text-decoration: 0;
    text-decoration: 0;
  }
}

@mixin taste {
  background-color: $dark;
  height: 100%;
  position: fixed !important;
  z-index: 10;
  left: 12%;
  top: 0px;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 0px !important;
}

@mixin remover() {
  content: "" !important;
  display: none !important;
  visibility: hidden !important;
  margin: 0px 0px 0px 0px !important;
  padding: 0px 0px 0px 0px !important;
  width: 0px !important;
  max-width: 0px !important;
  min-width: 0px !important;
  height: 0px !important;
  max-height: 0px !important;
  min-height: 0px !important;
  z-index: -1 !important;
}

@mixin container {
  max-width: 96vw !important;
  min-width: 991px !important;
  width: 100vw !important;
  // height: 86vh !important;
  padding: 0 !important;
}

@mixin favorites {
  height: 100%;
  min-height: 100px;
  right: 0px;
  background-color: $dark;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
  .wrap {
    a img {
      cursor: pointer;
      width: 25rem;
      height: 15rem;
      display: block;
    }
    .title > a,
    .title {
      font-size: 17px;
      font-weight: 700;
      color: $white;
      word-break: break-word;
      word-wrap: break-word;
      font-family: Arial, Helvetica, sans-serif;
      outline-style: none;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
