html,
body {
    /* color: #333 !important;
    background: #000 !important;
    background-color: #000 !important; */
    width: 45% !important;
    height: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    transition: background-color 0.5s;
    background: #f90;
    background-color: #000;
    border: 1px solid #f90;
    color: #f90;
}

#mcover {
    position: fixed !important;
    width: 100vw !important;
    height: 100vh !important;
    /* background-color: black;
    color: black; */
}

#btnMenuList {
    /* position: fixed !important; */
    width: 2vw;
    height: 2vh;
    list-style-type: none;
    white-space: nowrap;
    font-size: 16px;
    font-family: inherit;
    cursor: pointer;
    outline: 0 none;
    text-align: left !important;
    appearance: none;
    vertical-align: top;
    font-weight: 700;
    background: #f90;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: #000;
    border: 3px solid #f90;
    color: #f90;
    text-decoration-style: solid;
    text-decoration-color: currentcolor;
    text-decoration-thickness: auto;
}