html,
body {
  width: 45% !important;
  height: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
}

.test {
  color: #fff;
  z-index: 0 !important;
  width: 100vw !important;
  height: 100vh !important;
  font-family: Arial, Helvetica, sans-serif;
}

.pagination3 > ul {
  transition: top 100ms ease-in-out 100ms;
  -moz-transition: top 100ms ease-in-out 100ms;
  -webkit-transition: top 100ms ease-in-out 100ms;
  z-index: 10 !important;
  position: fixed !important;
  display: block !important;
  top: 100%;
  left: 20%;
}

.magicTop {
  transition: top 100ms ease-in-out 100ms;
  -moz-transition: top 100ms ease-in-out 100ms;
  -webkit-transition: top 100ms ease-in-out 100ms;
  position: fixed !important;
  z-index: 1000 !important;
  top: 100%;
  left: 90%;
  width: auto;
  height: auto;
  list-style-type: none;
  white-space: nowrap;
  font-size: 16px;
  font-family: inherit;
  cursor: pointer;
  outline: 0 none;
  text-align: left !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  vertical-align: top;
  font-weight: 700;
  background: #f90;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  margin: 0 3px !important;
  background-color: #000;
  border: 3px solid #f90;
  color: #f90;
  line-height: 48px !important;
  padding: 0 25px;
  -webkit-text-decoration-style: solid;
  text-decoration-style: solid;
  -webkit-text-decoration-color: currentcolor;
  text-decoration-color: currentcolor;
  text-decoration-thickness: auto;
}
.magicTop:hover {
  background: #464646;
  text-decoration: 0;
}

.sidenav {
  transition: width 250ms ease-in-out 200ms;
  -moz-transition: width 250ms ease-in-out 200ms;
  -webkit-transition: width 250ms ease-in-out 200ms;
  z-index: 10;
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #000;
  overflow: hidden;
  padding-top: 10px;
}

#magicNav {
  z-index: 5;
  position: relative;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #fff;
  display: block;
}
#magicNav:hover {
  cursor: pointer;
  background-color: #000;
  border: 2px solid #f90;
  color: #f90;
}

.navbackground {
  z-index: 2;
  width: 0;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.favorite {
  text-shadow: initial;
  text-transform: initial;
  word-spacing: initial;
  letter-spacing: initial;
  background: url(https://di.phncdn.com/www-static/images/video_page/favorite.svg no-repeat);
  background-color: rgba(0, 0, 0, 0);
  background-position-x: 2%;
  background-position-y: 50%;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-image: url("https://di.phncdn.com/www-static/images/video_page/favorite.svg");
  background-size: auto;
  background-origin: padding-box;
  background-clip: border-box;
}

.magic-pop {
  transition: top 500ms ease-in-out 200ms;
  -moz-transition: top 500ms ease-in-out 200ms;
  -webkit-transition: top 500ms ease-in-out 200ms;
  background-color: #000;
  border: 2px solid #f90;
  height: 95%;
  width: 76%;
  position: fixed;
  z-index: 10;
  top: 100%;
  left: 20%;
  overflow-x: auto;
}

.magic-popup {
  transition: top 200ms ease-in-out 200ms;
  -moz-transition: top 200ms ease-in-out 200ms;
  -webkit-transition: top 200ms ease-in-out 200ms;
  background: transparent;
  height: auto;
  width: 76%;
  position: fixed;
  z-index: 10;
  top: 100%;
  left: 20%;
  overflow-x: auto;
}

.magic-popup > .sortBy {
  margin: 1%;
}
.magic-popup > .sortBy > .actionTagList {
  padding: 1px;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-gap: 10px;
}
.magic-popup > .sortBy > .actionTagList > a > li {
  cursor: pointer;
  white-space: nowrap;
  width: 90%;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
  font-size: 14px;
  color: #d1d1d1;
  padding: 12px 14px;
  text-align: center;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  background-image: linear-gradient(180deg, #2a2a2b 0, #1e1c1c 100%);
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.5);
}
.favlayout,
.favlayout div {
  display: inline-block;
  margin: 0 0 20px 0;
  vertical-align: top;
  margin: 0 0 20px 0;
  vertical-align: top;
}
.magiclogo > img {
  cursor: pointer !important;
  width: auto !important;
  height: auto !important;
}
#hd-leftColVideoPage {
  width: 100% !important;
}
#relatedVideosCenter {
  display: grid;
}
.title-container,
.video-actions-menu,
.video-actions-container,
.relatedVideos {
  margin: 0 !important;
  padding: 5px 0 5px !important;
  width: 98vw;
}
.container {
  width: max(96vw, 96vw) !important;
  height: 86vh !important;
  margin-top: 1% !important;
  margin-left: auto !important;
  margin-right: 6% !important;
  padding: 0 !important;
}
.mhp1138_videoPoster {
  height: 98vh !important;
  width: 86% !important;
  top: 0 !important;
  left: 10% !important;
}
.bigp {
  width: max(98.6vw, 991px) !important;
  height: max(92vh, 80vh) !important;
  margin-left: 0 !important;
  padding: 0 !important;
  top: 0 !important;
  position: relative !important;
  z-index: 1000 !important;
}
.smolp {
  height: 360px !important;
  width: 640px !important;
  margin-left: 60% !important;
  position: fixed !important;
  padding: 0 !important;
  top: 0 !important;
  left: 0 !important;
  z-index: 1000 !important;
}

.smolnav {
  z-index: -10 !important;
  width: 100% !important;
}
.sticky {
  z-index: 10 !important;
  position: fixed !important;
  top: 0;
  left: 0;
  width: 60% !important;
}
#main-container,
.gridWrapper,
.frontListingWrapper,
.section_wrapper,
#gifWebmPlayer {
  max-width: 96vw !important;
  min-width: 991px !important;
  width: 100vw !important;
  height: 86vh !important;
  padding: 0 !important;
}
.gifWebMWrapper {
  margin-bottom: 0 !important;
}
.video-wrapper.js-relatedRecommended {
  margin-top: 13% !important;
  margin-bottom: 0 !important;
}
/* margin-top: 6% !important; */
#cmtWrapper {
  display: none;
  width: 30vw !important;
}
header#header,
#headerWrapper {
  width: 98.8vw !important;
}

.pcVideoListItem {
  display: flex;
}

.show-more-btn {
  left: 60% !important;
}

ul.videos.user-playlist {
  display: grid !important;
  justify-content: center;
  align-content: center;
  grid-template-rows: auto;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 15px;
  grid-column-gap: 10px;
  padding: 20px 10px;
}

.video-detailed-info {
  float: none !important;
}

.mhp1138_autoplay {
  display: initial !important;
}

#vb,
#vr,
#under-player-comments {
  display: none;
}


.rm,
.tasteLogin,
.upgradeToPremium,
#profileMenuDropdown > .alpha,
.logoWrapper,
.mhp1138_upsell,
.mhp1138_cinema,
#under-player-playlists,
#loadMoreRelatedVideosCenter,
#hd-rightColVideoPage,
#customSkin,
#customSkinCTA {
  content: "";
  display: none !important;
  margin-top: 0px !important;
  width: 0px !important;
  height: 0px !important;
}

.blur {
  transition: -webkit-filter 250ms ease-in-out 200ms;
  transition: filter 250ms ease-in-out 200ms;
  transition: filter 250ms ease-in-out 200ms,
    -webkit-filter 250ms ease-in-out 200ms;
  transition: filter 250ms ease-in-out 200ms,
    -webkit-filter 250ms ease-in-out 200ms;
  -moz-transition: filter 250ms ease-in-out 200ms;
  -webkit-transition: filter 250ms ease-in-out 200ms;
  filter: blur(10px) !important;
  -moz-filter: blur(10px) !important;
  -webkit-filter: blur(10px) !important;
  overflow-x: visible !important;
  overflow-y: clip !important;
}

.recommendedContainerLoseOne {
  margin-left: 1% !important;
  width: 96vw !important;
}

.wrap > .phimage {
  max-width: -webkit-max-content !important;
  max-width: -moz-max-content !important;
  max-width: max-content !important;
  width: 100% !important;
}

/* #header #headerContainer #topRightProfileMenu #profileMenuWrapper ul#profileMenuDropdown>li i {
  background:url(../images/sprite-icons.png?cache=2021020802) no-repeat;
  margin-right:10px;
  vertical-align:middle
 } */

/* .fixed {
  z-index: 10 !important;
  position: fixed !important;
  display: block !important;
  top: 90%;
  left: 20%;
} */

/* left: 0 !important;
margin-left: 0 !important;
top: 0 !important;
height: 450px !important;
width: 800px !important;



width: 1468px !important;
left: 222px !important;
height: 825px !important;
margin-left: 0 !important; */
